body {
    background-color: #333;
    font-family: Lato;
    color: #DDD;
}

h1,h2,h3,h4 {
    font-weight: 100;
    position: relative;
    margin: 30px auto;
    text-align: center;
}
h1 {
    font-size: 64px;
}
p {
    line-height: 30px;
}

header > h2 {
    font-style: italic;
}


main {
    max-width: 810px;
    margin: 0px auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#controls > h3 {
    text-align: center;
    margin-bottom: 15px;
}

ul#controls-listing {
    /** removing the default ul padding*/
    padding: 0;

    /* flexbox fallback if grid is not supported */
    display: flex;
    justify-content: space-between;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
ul#controls-listing > li {
    list-style: none;
    text-align: center;
}
ul#controls-listing > li:first-child {
    text-align: left;
}
ul#controls-listing > li:last-child {
    text-align: right;
}

canvas {
    border: 2px solid black;
}

.psst {
    font-style: italic;
}